
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap related style sheet -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="stylesheet" href="/css/_header.css">
<nav class="navbar container-fluid navbar-fixed-top navbar-expand-lg" id="navbar-main">
    <h3 class="my-2  brand"><a class="text-decoration-none text-black" href="http://localhost:8000/"><span"><i class="fa fa-key" style="font-size:20px ;"></i></span>AuthoX</a></h3>
    <div class="navbar-collapse sign-out-div text-black" id="navbar-main-collapse">  
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <% if(locals.user){%>
            <li class="nav-item text-primary">
                <a class="nav-link" href="/users/sign-out"> <i class="fa fa-sign-out"></i> Sign Out</a>
            </li>
            <%}%>
        </ul>
    </div>
    <div class="logged-in-user">
        <% if(locals.user){%>
        <a href="/users/profile" class="text-decoration-none text-black font-weight-bold"><%=locals.user.email%>(Logged In)</a>
        <%}%>
    </div>
</nav>
