<link rel="stylesheet" href="/css/forgotpassword.css">
<div class="" id="div-container">
    <form action="/users/forgot" method="post">
        <div class="d-flex justify-content-center align-items-center flex-column my-5">
            <div class="input-group mb-3 w-75 my-5">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                </div>
                <input type="email" class="form-control" name="email" placeholder="Enter your email" aria-label="Username" aria-describedby="basic-addon1" required>
            </div>
            <div class="my-4">
                <button type="submit" class="btn btn-primary"> Reset Password </i></button>
            </div>
        </div>
    </form>
</div>