<link rel="stylesheet" href="css/profile.css" type="text/css">

<div class="profile-container">
    <h3><%=locals.user.name%> Profile</h3>
    <span>Name: <%=locals.user.name%></span>
    <span>Email:<%=locals.user.email%></span>
    <a href="/users/update-password" class="btn btn-success"> Change Password</a>
</div>