<!-- <form action="" method="post">
    <input type="password" name="password" id="" placeholder="Enter your new password">
    <input type="password" name="confirmPassword" id="" placeholder="Re-enter new password">
    <button type="submit" class="btn btn-primary">Update</button>
</form> -->

<link rel="stylesheet" href="/css/updatepassword.css">
<body>
    <div id="div-container">
        
            <form action="" method="post">
                <div class="d-flex justify-content-center align-items-center flex-column my-5" >
                    <div class="my-4">
                        <input type="password" name="password" id="" placeholder="Enter your new password">
                    </div>
                    <div>
                        <input type="password" name="confirmPassword" id="" placeholder="Re-enter new password">
                    </div>
                    <div class="my-4">
                        <input type="submit" class="btn btn-primary" value="Reset">
                    </div>
                </div>
            </form>
        
    </div>
</body>