<!-- External style sheet -->
<link rel="stylesheet" href="/css/updatepassword.css">
<!-- Body Tag -->
<body>
    <!-- Page Heading -->
    <div class="d-flex justify-content-center align-items-center my-3">
        <h2>Hey !!<span class="text-capitalize"> <%=locals.user.name%></span> , Please fill the form to change password</h2>
    </div>
    <!-- Update Password div -->
    <div id="div-container">
        
            <form action="/users/update/<%=locals.user._id%>" method="post">
                <div class="d-flex justify-content-center align-items-center flex-column my-5" >
                    <div class="my-4">
                        <input type="password" name="password" id="" placeholder="Enter your new password">
                    </div>
                    <div>
                        <input type="password" name="confirmPassword" id="" placeholder="Re-enter new password">
                    </div>
                    <div class="my-4">
                        <input type="submit" class="btn btn-primary" value="Update">
                    </div>
                </div>
            </form>
        
    </div>
</body>
