

<form for="user" class="control-label" action="create" method="post">
    <label>Name 
        <input type="text"  class="form-control" placeholder="Name" id="name" name="name">
    </label>
    <label>Email 
        <input type="email"  class="form-control" placeholder="Email" id="email" name="email">
    </label>
    <label>Password 
        <input type="password"  class="form-control" placeholder="Password" id="password" name="password">
    </label>
    <button type="submit">submit</button>
</form>
<a href="/users/sign-in" class="">Have Account, Please click here to sign in</a>