@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: white;
  overflow: hidden; }
  body div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    body div #div1 {
      margin-top: 40px;
      height: 63vh;
      width: 360px;
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
      border-radius: 20px; }
      body div #div1 #user-icon {
        position: relative;
        top: -25px; }
      body div #div1 hr {
        width: 50%; }
